html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.main{
    width:100%;
    background:URL(https://tse3.mm.bing.net/th/id/OIP.a7kf-k2md3pedSOUl597VgHaFP?pid=Api&P=0&h=180) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    height:100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin:auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width:160px;
    cursor:pointer;
    margin-top: 5%;
    margin-left:-5%;
    border-radius: 50%;

}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
}
ul li a:hover{
    color:pink;
}
.p{
    font-style: italic;
}
.info{
    margin-left: 3%;
    margin-top: 2%;
    font-style:italic;
}
.info span{
    color: deeppink;
}
.info a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: darkslategray;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
}
a:hover{
    color:lightblue;
}
.about-section{
    padding: 60px;
    background-color:lightcyan;
    color: #333;
    text-align: left;
    
}
.about-section h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: #222;
    text-transform: capitalize;
}
.about-section h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: #222;
    text-transform: capitalize;
}
.about-section span{
    font-weight: bold;
}
.about-section p{
    font-size: 18px;
    line-height: 1.6;

}
.skill-section{
    padding: 60px;
    background-color:lightsteelblue;
    color: #333;
    text-align: left;

}
.skill-section h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: #222;
    font-weight: bolder;
    text-transform: capitalize;
}
.skill-section p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    text-transform: capitalize;

}
.works-section{
    padding: 60px;
    background-color:lightcyan;
    color: #333;
    text-align: left;

}
.works-section h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: #000;
    font-weight: bolder;
    text-transform: capitalize;
}
.works-section h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: #444;
    font-weight: 600;
    text-transform: capitalize;
}
.works-section p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 100;
    text-transform: capitalize;

}
.contact-section{
    padding: 60px;
    background-color:lightgray;
    color: #333;
    text-align: left;
}
.contact-section h2{
    font-size: 28px;
    margin-bottom: 15px;
    color: #444;
    font-weight: 600;
    text-transform: capitalize;
}
.contact-section p{
    font-weight: bold;
    font-size: 18px;
    font-weight: 100;
    margin-left: 10%;
    word-spacing: 500px;
}


